<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Joshua Pekera</string>
	<key>Builder Version</key>
	<string>8536.26.17</string>
	<key>CFBundleDisplayName</key>
	<string>PyroResize</string>
	<key>CFBundleIdentifier</key>
	<string>com.joshuapekera.pyroresize</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.1.1</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>bar.html</string>
				<key>Identifier</key>
				<string>resizeBar</string>
				<key>Label</key>
				<string>resizeBar</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>resizeWindow</string>
				<key>Identifier</key>
				<string>resizeWindow</string>
				<key>Image</key>
				<string>toolbar.png</string>
				<key>Label</key>
				<string>Open PyroResize</string>
				<key>Palette Label</key>
				<string>PyroResize</string>
				<key>Tool Tip</key>
				<string>Open the PyroResize toolbar...</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
		<key>Stylesheets</key>
		<array>
			<string>vertical-scroll.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Resizes browser window at various device widths </string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.github.com/joshuapekera/PyroResize/master/PyroResize.safariextension/Info.plist</string>
	<key>Website</key>
	<string>http://lab.joshuapekera.com/</string>
</dict>
</plist>
